---
import SectionContainer from "@components/SectionContainer.astro";
import TitleSection from "@components/TitleSection.astro";
import Layout from "@/layouts/Layout.astro";
import ContactComponent from "@components/Contact.astro";
import GithubIcon from "@icons/Github.astro";
import TwitterIcon from "@icons/Twitter.astro";
import LinkedinIcon from "@icons/Linkedin.astro";
import ThreadsIcon from "@icons/Threads.astro";
import InstagramIcon from "@icons/Instagram.astro";

const SOCIALS = [
    {
        name: "LinkedIn",
        url: "https://www.linkedin.com/in/diegot4l/",
        icon: LinkedinIcon,
        class: "bg-[#0a66c2] hover:bg-[#0a66c2]/90 focus:ring-gray-500",
    },
    {
        name: "GitHub",
        url: "https://github.com/DiegoT4l",
        icon: GithubIcon,
        class: "bg-[#24292F] hover:bg-[#050708]/30 focus:ring-gray-500",
    },
    {
        name: "Instagram",
        url: "https://www.instagram.com/diegot4l/",
        icon: InstagramIcon,
        class: "bg-gradient-to-r from-instagram-100 via-instagram-300 to-instagram-500 hover:bg-[#c13584]/90 focus:ring-gray-500",
    },
    {
        name: "Threads",
        url: "https://www.threads.net/@diegot4l",
        icon: ThreadsIcon,
        class: "bg-[#050708] hover:bg-[#050708]/30 focus:ring-[#050708]/50",
    },
    {
        name: "Twitter",
        url: "https://twitter.com/DiegoT4l",
        icon: TwitterIcon,
        class: "bg-[#1da1f2] hover:bg-[#1da1f2]/90 focus:ring-gray-500",
    },
];
---

<Layout
    title="DiegoT4l Portfolio - Desarrollador y Programador web y UI"
    description=`Desarrollador web y UI con más de 2 años de experiencia. 
Especializado en creación de webs e interfaces únicas y atractivas.
Conoce más sobre mi trabajo y proyectos en mi portafolio.
`
>
    <main class="px-4 mt-32">
        <SectionContainer id="contact" class="pb-20">
            <TitleSection title="CONTACT ME">
                <svg
                    class="size-7 me-2.5"
                    aria-hidden="true"
                    xmlns="http://www.w3.org/2000/svg"
                    fill="currentColor"
                    viewBox="0 0 20 16"
                >
                    <path
                        d="m10.036 8.278 9.258-7.79A1.979 1.979 0 0 0 18 0H2A1.987 1.987 0 0 0 .641.541l9.395 7.737Z"
                    ></path>
                    <path
                        d="M11.241 9.817c-.36.275-.801.425-1.255.427-.428 0-.845-.138-1.187-.395L0 2.6V14a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V2.5l-8.759 7.317Z"
                    ></path>
                </svg>
            </TitleSection>
            <div class="flex justify-center">
                <ContactComponent />
            </div>
        </SectionContainer>

        <SectionContainer id="contact-socials" class="pb-20">
            <TitleSection title="Mis Redes Sociales" />
            <div class="flex-col justify-center">
                {
                    SOCIALS.map(({ name, url, icon: Icon, class: Class }) => (
                        <a
                            target="_blank"
                            rel="noopener noreferrer"
                            href={url}
                            class={`text-white w-full focus:ring-4 focus:outline-none font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex justify-center items-center ${Class} me-2 mb-2`}
                        >
                            <Icon class="w-4 h-4 me-2" />
                            Follow Me on {name}
                        </a>
                    ))
                }
            </div>
        </SectionContainer>
    </main>
</Layout>
