---
import Layout from "../layouts/Layout.astro";
import SectionContainer from "../components/SectionContainer.astro";
import Experience from "../components/Experience/Experience.astro";
import BriefIcon from "../icons/Brief.astro";
import CodeIcon from "../icons/Code.astro";
import Projects from "../components/Projects/Projects.astro";
import Hero from "@/components/Hero.astro";
import TitleSection from "@/components/TitleSection.astro";
---

<Layout
	title="DiegoT4l Portfolio - Desarrollador y Programador web y UI"
	description=`Desarrollador web y UI con más de 2 años de experiencia. 
Especializado en creación de webs e interfaces únicas y atractivas.
Conoce más sobre mi trabajo y proyectos en mi portafolio.
`
>
	<main class="px-4">
		<SectionContainer id="hero" class="py-32 md:py-44 pb-24">
			<Hero />
		</SectionContainer>

		<SectionContainer id="experience" class="pb-24">
			<TitleSection title="Experiencia Laboral">
				<BriefIcon class="size-8" />
			</TitleSection>
			<hr />
			<div class="flex justify-center">
				<Experience />
			</div>
		</SectionContainer>

		<SectionContainer id="projects" class="pb-24">
			<TitleSection title="Proyectos Personales">
				<CodeIcon class="size-8" />
			</TitleSection>
			<hr />
			<div class="flex justify-center">
				<Projects />
			</div>
		</SectionContainer>

		<SectionContainer>
			<div
				class="badge-base LI-profile-badge"
				data-locale="es_ES"
				data-size="medium"
				data-theme="dark"
				data-type="VERTICAL"
				data-vanity="diegot4l"
				data-version="v1"
			>
				<a
					class="badge-base__link LI-simple-link"
					href="https://mx.linkedin.com/in/diegot4l?trk=profile-badge"
					>Diego Talamantes</a>
			</div>
		</SectionContainer>
	</main>
</Layout>


