---
import Layout from "../layouts/Layout.astro";
import Badge from "../components/Badge.astro";
import SocialPill from "../components/SocialPill.astro";
import LinkedInIcon from "../icons/LinkedIn.astro";
import GitHubIcon from "../icons/GitHub.astro";
import EmailIcon from "../icons/Email.astro";
import DiscordIcon from "../icons/Discord.astro";
import SectionContainer from "../components/SectionContainer.astro";
import Experience from "../components/Experience/Experience.astro";
---

<Layout
	title="DiegoT4l Portfolio - Desarrollador y Programador web y UI"
	description=`Desarrollador web y UI con más de 2 años de experiencia. 
Especializado en creación de webs e interfaces únicas y atractivas.
Conoce más sobre mi trabajo y proyectos en mi portafolio.
`
>
	<main>
		<SectionContainer>
			<h1
				class="text-white text-5xl font-bold flex flex-row gap-x-4 pb-10"
			>
				Hey, Soy DiegoT4l!
				<Badge
					href="https://www.linkedin.com/in/diegot4l/"
					class="flex justify-center items-center"
				>
					Disponible
				</Badge>
			</h1>
			<h2 class="text-2xl text-wrap">
				<span>+2 Años de Experiencia.</span><span
					class="text-yellow-200/90"
					>Desarrollador Web/UI.
				</span>
				<span class="text-red-200/90">México, CDMX.</span><span
					class="opacity-75"
					>Especializado en creación de webs e interfaces únicas y
					atractivas.</span
				>
			</h2>

			<nav class="flex gap-x-4 mt-8">
				<SocialPill href="https://www.linkedin.com/in/diegot4l/">
					<LinkedInIcon class="size-6" />
					<span>LinkedIn</span>
				</SocialPill>
				<SocialPill href="https://github.com/DiegoT4l">
					<GitHubIcon class="size-6" />
					<span>GitHub</span>
				</SocialPill>
				<SocialPill href="https://discord.gg/EcBV6FkCtd">
					<DiscordIcon class="size-6" />
					<span>Discord</span>
				</SocialPill>
				<SocialPill href="https://github.com/DiegoT4l">
					<EmailIcon class="size-6" />
					<span>Correo</span>
				</SocialPill>
			</nav>
		</SectionContainer>

		<SectionContainer>
			<Experience />
		</SectionContainer>
	</main>
</Layout>
