---
import Layout from "../layouts/Layout.astro";
import Badge from "../components/Badge.astro";
---

<Layout title="Welcome to Astro.">
	<main>
		<section class="w-full lg:w-[740px] mx-auto py-44">
			<h1
				class="text-white text-5xl font-bold flex justify-center flex-row gap-x-4 pb-10"
			>
				Hey, Soy DiegoT4l!
				<a
					href="https://www.linkedin.com/in/diegot4l/"
					target="_blank"
					rel="noopener"
					class="flex justify-center items-center"
				>
					<Badge>Disponible</Badge>
				</a>
			</h1>
			<h2 class="text-xl opacity-80">
				<span>+1 año de experiencia. </span><span>Desarrollador Web/UI. </span>
				<span>México, CDMX. </span><span>Especializado en creación de sitios web e interfaces de usuario
				únicas y atractivas.</span>
			</h2>
		</section>
	</main>
</Layout>
