---
const personalImageAlt = "Diego Talamantes";
---

<article
    class="flex my-14 items-center justify-center gap-8 text-gray-300 flex-row"
>
    <div
        class="[&>p]:mb-6 [&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-onest text-pretty order-2 md:order-1"
    >
        <p>
            Me llamo Diego Talamantes, conocido como DiegoT4l.
            Con más de <strong>2 años de experiencia en crear soluciones
            digitales eficientes.</strong> Me motiva mejorar la experiencia del usuario con
            interfaces modernas y de alto rendimiento.
        </p>

        <p>
            He trabajado en proyectos complejos como la <strong
                >optimización de una aplicación financiera</strong
            >, desarrollo de <strong
                >interfaces para aplicaciones web y chatbots</strong
            >.
        </p>

        <p>
            Actualmente, mi enfoque está en seguir perfeccionando mis
            habilidades y explorar nuevas tecnologías,<strong
                > siempre buscando soluciones innovadoras a problemas complejos</strong
            >.
        </p>
    </div>

    <img
        width="200"
        height="200"
        src="/diegot4l.jpg"
        alt={personalImageAlt}
        class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20"
        style="object-position: 50% 50%"
    />
</article>
