---
const NAV_ITEMS = [
    { name: "Inicio", href: "#hero", label: "hero" },
    { name: "Experiencia", href: "#experience", label: "experience" },
    { name: "Proyectos", href: "#projects", label: "projects" },
    { name: "Sobre mí", href: "#about", label: "about" },
    { name: "Contacto", href: "#contact", label: "contact" },
];
---

<style>
    nav {
        @apply bg-gray-800/20 rounded-full shadow-lg ring-1 backdrop-blur ring-white/10;
        animation: nav-shadown 1s linear both;
        animation-timeline: scroll();
        animation-range: 0 100px;
    }
    @keyframes nav-shadown {
        0% {
            @apply bg-gray-800/0;
        }
        to {
            @apply shadow-lg ring-1 backdrop-blur ring-white/10;
        }
    }
    .active-link {
        @apply bg-sky-200 text-black;
    }
</style>

<header
    class="fixed right-4 left-4 py-8 z-10 flex flex-col md:flex-row justify-between items-center md:w-[1120px] mx-auto animate-blurred-fade-in"
>
    <div class="flex justify-between items-center">
        <img
            class="mr-[16rem] rounded-full size-9 md:size-12"
            src="/assets/images/diegot4l.webp"
            alt="diegot4l picture"
        />
        <button class="h-6 md:hidden" id="hamburger">☰</button>
    </div>

    <nav class="flex flex-col md:flex-row gap-x-10 h-8 items-center px-4 rounded-md">
        {
            NAV_ITEMS.map(({ name, href, label }) => (
                <a
                    class="hover:bg-sky-200 hover:text-black hover:border-black hover:animate-tilt p-1 rounded-full transition duration-300 ease-in-out"
                    aria-label={label}
                    href={href}
                >
                    {name}
                </a>
            ))
        }
    </nav>
</header>

<script>
    document.addEventListener("scroll", () => {
        const sections = document.querySelectorAll("section");
        const navLinks = document.querySelectorAll("header nav a");

        let actualSection = '';
        sections.forEach(section => {
            const sectionTop = section.offsetTop;
            const sectionHeight = section.clientHeight;

            if (window.scrollY >= sectionTop - sectionHeight / 3) {
                actualSection = section.id;
            }
        });

        navLinks.forEach(link => {
            link.classList.remove('active-link');
            if (link.getAttribute("aria-label") === `${actualSection}`) {
                link.classList.add('active-link');
            }
        });
    });
</script>
