<header class="flex justify-between items-center py-5 w-[1200px] mx-auto">
    <img 
    class="rounded-full size-12" 
    src="/diegot4l.jpg" 
    alt="diegot4l foto"
    />

    <nav class="flex flex-row gap-x-10">
        <a href="/">Inicio</a>
        <a href="/about">Sobre mí</a>
        <a href="/projects">Proyectos</a>
        <a href="/contact">Contacto</a>
    </nav>
</header>
