---
const NAV_ITEMS = [
    { name: "Experiencia", href: "/#experience", label: "experience" },
    { name: "Proyectos", href: "/#projects", label: "projects" },
    { name: "Sobre mí", href: "/#about", label: "about" },
    { name: "Servicios", href: "/services", label: "services" },
    { name: "Contacto", href: "/contact", label: "contact" },
];
---

<style>
    .blur-bg {
        @apply w-full h-full md:size-auto bg-gray-800/20 md:rounded-full shadow-lg ring-1 backdrop-blur ring-white/10;
        animation: nav-shadown 1s linear both;
        animation-timeline: scroll();
        animation-range: 0 100px;
    }
    @keyframes nav-shadown {
        0% {
            @apply bg-gray-800/0;
        }
        to {
            @apply shadow-lg ring-1 backdrop-blur ring-white/10;
        }
    }
    .active-link {
        @apply bg-sky-200 text-black;
    }
</style>

<header
    class="fixed right-4 left-4 py-8 z-10 flex flex-col md:flex-row justify-between items-center md:w-[1120px] mx-auto animate-blurred-fade-in"
>
    <div class="flex justify-between items-center">
        <a href="/#hero">
            <img
                class="mr-[16rem] rounded-full size-6 md:size-12"
                src="/assets/images/diegot4l.webp"
                alt="diegot4l picture"
            />
        </a>

        <button id="hamburger" class="size-6 md:hidden rounded-full bg-gray-800/20 ring-1 backdrop-blur ring-white/10 m-2 text-center">☰</button>
    </div>

    <nav
        id="principal-navbar" class="blur-bg hidden md:flex flex-col md:flex-row gap-x-2 h-8 items-center rounded-md"
    >
        {NAV_ITEMS.map(({ name, href, label }) => {
            return (
                <a
                    class="hover:bg-sky-200 hover:text-black hover:border-black hover:animate-tilt p-1 rounded-full transition duration-300 ease-in-out"
                    aria-label={label}
                    href={href}
                >
                    {name}
                </a>
            );
        })}
    </nav>
</header>

<script>
    //Mostrar u ocultar el navbar al hacer click en el botón de hamburguesa
    const hamburger = document.getElementById("hamburger");
    const nav = document.getElementById("principal-navbar");
    const navLinks = document.querySelectorAll("header nav a");

    hamburger.addEventListener("click", () => {
        nav.classList.toggle("hidden");
        nav.classList.toggle("flex");
    });

    //Cerrar el navbar al hacer scroll o hacer click en una de las opciones o hacer click fuera del navbar
    window.addEventListener("scroll", () => {
        nav.classList.add("hidden");
        nav.classList.remove("flex");
    });

    navLinks.forEach((link) => {
        link.addEventListener("click", () => {
            nav.classList.add("hidden");
            nav.classList.remove("flex");
        });
    });

    document.addEventListener("click", (e) => {
        if (!hamburger.contains(e.target) && !nav.contains(e.target)) {
            nav.classList.add("hidden");
            nav.classList.remove("flex");
        }
    });

    document.addEventListener("scroll", () => {
        const sections = document.querySelectorAll("section");
        

        let actualSection = "";
        sections.forEach((section) => {
            const sectionTop = section.offsetTop;
            const sectionHeight = section.clientHeight;

            if (window.scrollY >= sectionTop - sectionHeight / 3) {
                actualSection = section.id;
            }
        });

        navLinks.forEach((link) => {
            link.classList.remove("active-link");
            if (link.getAttribute("aria-label") === `${actualSection}`) {
                link.classList.add("active-link");
            }
        });
    });
</script>
