<header class="flex justify-between items-center py-5 w-[1200px] mx-auto animate-blurred-fade-in">
    <img 
    class="rounded-full size-12" 
    src="/diegot4l.jpg" 
    alt="diegot4l foto"
    />

    <nav class="flex flex-row gap-x-10 h-6">
        <a class="hover:bg-sky-200 hover:text-black hover:border-black px-2 rounded-full transition duration-300 ease-in-out" href="/">Inicio</a>
        <a class="hover:bg-sky-200 hover:text-black hover:border-black px-2 rounded-full transition duration-300 ease-in-out" href="/about">Sobre mí</a>
        <a class="hover:bg-sky-200 hover:text-black hover:border-black px-2 rounded-full transition duration-300 ease-in-out" href="/projects">Proyectos</a>
        <a class="hover:bg-sky-200 hover:text-black hover:border-black px-2 rounded-full transition duration-300 ease-in-out" href="/contact">Contacto</a>
    </nav>
</header>
