<header
    class="flex flex-col md:flex-row justify-between items-center py-5 md:w-[1120px] mx-auto animate-blurred-fade-in"
>
    <div class="flex justify-between items-center">
        <img
            class="mr-[16rem] rounded-full size-9 md:size-12"
            src="/assets/images/diegot4l.webp"
            alt="diegot4l picture"
        />
        <button class="h-6 md:hidden" id="hamburger">☰</button>
    </div>

    <nav class="flex flex-col md:flex-row gap-x-10 h-6">
        <a
            class="hover:bg-sky-200 hover:text-black hover:border-black hover:animate-tilt px-2 rounded-full transition duration-300 ease-in-out"
            href="#">Inicio</a
        >
        <a
            class="hover:bg-sky-200 hover:text-black hover:border-black hover:animate-tilt px-2 rounded-full transition duration-300 ease-in-out"
            href="#experience">Experiencia</a
        >
        <a
            class="hover:bg-sky-200 hover:text-black hover:border-black hover:animate-tilt px-2 rounded-full transition duration-300 ease-in-out"
            href="#projects">Proyectos</a
        >
        <a
            class="hover:bg-sky-200 hover:text-black hover:border-black hover:animate-tilt px-2 rounded-full transition duration-300 ease-in-out"
            href="#about">Sobre mí</a
        >

        <a
            class="hover:bg-sky-200 hover:text-black hover:border-black hover:animate-tilt px-2 rounded-full transition duration-300 ease-in-out"
            href="#contact">Contacto</a
        >
    </nav>
</header>
