<header class="flex justify-between">
    <img src="" alt="diegot4l" />
    <nav>
        <a href="/">Inicio</a>
        <a href="/about">Sobre mí</a>
        <a href="/projects">Proyectos</a>
        <a href="/contact">Contacto</a>
    </nav>
</header>
