<article
    id="services"
    class="py-16 text-gray-300"
>
    <div class="container mx-auto text-center">
        <p class="mb-12 text-lg">
            Ofrezco soluciones personalizadas en desarrollo web, desde
            interfaces modernas hasta optimización de aplicaciones. Mi objetivo
            es crear productos eficientes y escalables que satisfagan las
            necesidades de mis clientes.
        </p>

        <!-- Lista de servicios -->
        <div class="grid grid-cols-1 gap-8 text-left">
            <!-- Desarrollo Frontend -->
            <div class="p-6 bg-white/5 border border-gray-200/5shadow shadow-lg rounded-lg">
                <h3 class="text-2xl font-semibold mb-4 tracking-tight text-blue-300 text-wrap">Desarrollo Frontend</h3>
                <p class="text-pretty">
                    Creación de interfaces interactivas y modernas utilizando
                    tecnologías como React y TailwindCSS para garantizar una
                    experiencia de usuario óptima.
                </p>
            </div>

            <!-- Aplicaciones Web Full-Stack -->
            <div class="p-6 bg-white/5 border border-gray-200/5shadow shadow-lg rounded-lg">
                <h3 class="text-2xl font-semibold mb-4 text-blue-300">
                    Aplicaciones Web Full-Stack
                </h3>
                <p>
                    Desarrollo completo de aplicaciones web, integrando backend
                    con <strong>NodeJS, ExpressJS</strong> y bases de datos como
                    <strong>PostgreSQL</strong> para soluciones escalables.
                </p>
            </div>

            <!-- Optimización y Rendimiento -->
            <div class="p-6 bg-white/5 border border-gray-200/5shadow shadow-lg rounded-lg">
                <h3 class="text-2xl font-semibold mb-4 text-blue-300">
                    Optimización y Rendimiento
                </h3>
                <p>
                    Mejora de la velocidad de carga y rendimiento de
                    aplicaciones existentes, asegurando un funcionamiento fluido
                    y eficiente.
                </p>
            </div>

            <!-- API REST y Microservicios -->
            <div class="p-6 bg-white/5 border border-gray-200/5shadow shadow-lg rounded-lg">
                <h3 class="text-2xl font-semibold mb-4 text-blue-300">
                    API REST y Microservicios
                </h3>
                <p>
                    Diseño y desarrollo de APIs robustas y escalables utilizando <strong
                        >FastAPI</strong
                    > y <strong>Uvicorn</strong>, facilitando la integración de
                    servicios y sistemas.
                </p>
            </div>

            <!-- Mantenimiento y Actualización -->
            <div class="p-6 bg-white/5 border border-gray-200/5shadow shadow-lg rounded-lg">
                <h3 class="text-2xl font-semibold mb-4 text-blue-300">
                    Mantenimiento y Actualización
                </h3>
                <p>
                    Servicio continuo de mantenimiento y actualizaciones de
                    aplicaciones, asegurando que las soluciones sigan siendo
                    eficientes y seguras.
                </p>
            </div>

            <!-- Consultoría Técnica -->
            <div class="p-6 bg-white/5 border border-gray-200/5shadow shadow-lg rounded-lg">
                <h3 class="text-2xl font-semibold mb-4 text-blue-300">Consultoría Técnica</h3>
                <p>
                    Asesoría especializada para la planificación y ejecución de
                    proyectos tecnológicos, brindando soluciones adaptadas a las
                    necesidades de tu negocio.
                </p>
            </div>
        </div>
    </div>
</article>
