---
import ExperienceItem from "@components/Experience/ExperienceItem.astro";

const EXPERIENCE = [
    {
        title: "Desarrollador Front end - Universidad UTEL",
        date: "Noviembre 2023 - Marzo 2024",
        description:
            "Contribuí a optimizar una aplicación web financiera, mejorando su rendimiento y experiencia de usuario. ",
        link: "https://utel.edu.mx/",
    },
    {
        title: "Desarrollador Front end - Teleperformance",
        date: "Julio 2022 - Noviembre 2023",
        description:
            "Desarrollé interfaces de usuario de alta calidad para aplicaciones web y chatbots, optimizando el rendimiento y creando componentes reutilizables.",
        link: "https://www.teleperformance.com/es-mx/locations/mexico-site/mexico/",
    },
    {
        title: "Desarrollador Web - Apostar Tecnológico",
        date: "Enero 2022 - Junio 2022",
        description:
            "Contribuí al desarrollo y mantenimiento de un CRM para gestion de clientes, optimizando la aplicación y desarrollando nuevas funcionalidades.",
    }
];
---

<div class="md:grid md:grid-cols-2 flex flex-col">
    {
        EXPERIENCE.map((experience) => (
            <div class="block max-w-sm p-6 mx-4 my-10 bg-white/5 border border-gray-200/5 rounded-lg shadow">
                <ExperienceItem {...experience} />
            </div>
        ))
    }
</div>