---
import ExperienceItem from "./ExperienceItem.astro";

const EXPERIENCE = [
    {
        title: "Desarrollador Web/UI",
        date: "Diciembre 2023 - Actualidad",
        description:
            "Desarrollo páginas, aplicaciones e interfaces web. Enfocado en ofrecer soluciones de alta calidad, adaptables a las necesidades de cada proyecto.",
        link: "https://diegot4l.github.io/",
    },
    {
        title: "Desarrollador UI/UX - Dadi Market",
        date: "Julio 2022 - Noviembre 2023",
        description:
            "Creé interfaces personalizadas, optimicé la experiencia del usuario y documenté el código.",
        link: "https://discord.gg/dadimarket",
    },
    {
        title: "Desarrollador Web - Universidad UTEL",
        date: "Enero 2022 - Junio 2022",
        description:
            "contribuí al proceso de optimización de la aplicación web en el área financiera.",
        link: "https://utel.edu.mx/",
    }
];
---

<div class="md:grid md:grid-cols-2 flex flex-col">
    {
        EXPERIENCE.map((experience) => (
            <div class="block max-w-sm p-6 mx-4 my-10 bg-white/5 border border-gray-200/5 rounded-lg shadow">
                <ExperienceItem {...experience} />
            </div>
        ))
    }
</div>