---
import "@fontsource-variable/onest";
import '@fontsource-variable/suse'
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { ViewTransitions } from "astro:transitions"
interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<ViewTransitions />
	</head>

	<body class="relative text-white">
		<div class="absolute top-0 bottom-0 z-[-2] min-h-screen w-screen backg"></div>
		<Header />
		<slot />
		<Footer />
		<script is:inline src="../../node_modules/flowbite/dist/flowbite.min.js"></script>
		<script
	src="https://platform.linkedin.com/badges/js/profile.js"
	async
	defer
	type="text/javascript"></script>
	</body>
</html>
<style is:global>
	:root {
		color-scheme: light dark;
	}
	html {
		font-family: "SUSE Variable", sans-serif;
		scroll-behavior: smooth;
	}
	@media ((prefers-reduced-motion: reduce)) {
		html {
			scroll-behavior: auto;
		}
	}
	body {
        color: rgba(255, 255, 255, 0.9);
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        overscroll-behavior: none;
    }
	h1, h2, h3, h4, h5, h6 {
		font-family: "Onest Variable", sans-serif;
	}
	hr {
		height: 0.1rem;
		border: 0;
		background-image: linear-gradient(
			to right,
			rgba(0, 0, 0, 0),
			hsl(0, 0%, 97%),
			rgba(255, 255, 255, 0)
		);
	}
	.backg {
		background-color: #050505;
		background-image: radial-gradient(
				at 47% 33%,
				rgba(17, 25, 40, 0.749) 0,
				transparent 59%
			),
			radial-gradient(
				at 82% 65%,
				hsl(182.79, 32%, 74%) 0,
				transparent 55%
			);
		backdrop-filter: blur(16px) saturate(180%);
		-webkit-backdrop-filter: blur(16px) saturate(180%);
		backdrop-filter: blur(16px) saturate(180%);
	}

	#checkbox {
		display: none;
	}

	.toggle {
		width: 20px;
		cursor: pointer;
		margin: auto;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		height: 20px;
	}

	.bar {
		height: 4px;
		border-radius: calc(4px / 2);
		background: #fcfcfc;
		color: inherit;
		opacity: 1;
		transition: none 0.35s cubic-bezier(0.5, -0.35, 0.35, 1.5) 0s;
	}

	/***** Spin Animation *****/

	.bar--top {
		bottom: calc(50% + 5px + 2px / 2);
		transition-property: bottom, transform;
		transition-delay: calc(0s + 0.35s), 0s;
	}

	.bar--middle {
		top: calc(50% - 4px / 2);
		transition-property: opacity;
		transition-delay: calc(0s + 0.35s);
	}

	.bar--bottom {
		top: calc(50% + 4px + 4px / 2);
		transition-property: top, transform;
		transition-delay: calc(0s + 0.35s), 0s;
	}

	#checkbox:checked + .toggle .bar--top {
		bottom: calc(50% - 4px / 2);
		transform: rotate(135deg);
		transition-delay: 0s, calc(0s + 0.35s);
	}

	#checkbox:checked + .toggle .bar--middle {
		opacity: 0;
		transition-duration: 0s;
		transition-delay: calc(0s + 0.35s);
	}

	#checkbox:checked + .toggle .bar--bottom {
		top: calc(50% - 4px / 2);
		transform: rotate(225deg);
		transition-delay: 0s, calc(0s + 0.35s);
	}
</style>
