---
import "@fontsource-variable/onest";
import Header from "../components/Header.astro";
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<div class="absolute top-0 z-[-2] h-screen w-screen backg"></div>
		<Header />
		<slot />
	</body>
</html>
<style is:global>
	:root {
		color-scheme: light dark;
	}
	html {
		font-family: "Onest Variable", sans-serif;
	}
	body {
		display: flex;
		flex-direction: column;
		min-height: 100vh;
	}
	.backg {
		background-color: #050505;
		background-image: radial-gradient(
				at 47% 33%,
				rgba(17, 25, 40, 0.75) 0,
				transparent 59%
			),
			radial-gradient(
				at 82% 65%,
				hsl(182.79, 32%, 74%) 0,
				transparent 55%
			);
		backdrop-filter: blur(16px) saturate(180%);
		-webkit-backdrop-filter: blur(16px) saturate(180%);
		backdrop-filter: blur(16px) saturate(180%);
	}
</style>
